
header {
    text-align: center;
    height: 10vh;
    background-color: black;
    color: gold;
    font-size: 100px;
    font-family: 'Special Elite', cursive;
    text-align: center;
    border-width: 2px;
    border-style: groove;
    border-color: grey;
    border-image: initial;
    position: relative;
    top:3vh
}
.flow-text{
    position: relative;
    font-size: 5vh;
    color: white;
    text-align: center;
    top: -10vh;
    
}
#row{
    height: 100%;
    
}
.input{
    color: red;
}
.searchBars{
    height: 250px;
     z-index: 5;
     }

.searchBarOr{
    text-align: center;
    font-family: 'Special Elite', cursive;
    color: black;
    }

.breweryResults{
   display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(20, 1fr);
grid-row-gap: 30px;
height: 80vh;
position: absolute;
top:15vh;
left:25vw;
overflow: auto;
font-family: ultra;
}

    .grid {
    border-style: groove;
    background-color: silver;
     border-color: black;
    position: relative;
    height: 35vh;
    width: 50vw;
    opacity: .5;
    }
  
   
     .name {
        font-size: 4vw;
        position: absolute;
        top: 10%;
        left:20%
         }
    .website{
        position: absolute;
        left: 3%;
        bottom: 19%;
        font-size: 2vw;
        color:black;
    }
    .address  {
        position: absolute;
        bottom: 3%;
        right: 3%;
        font-size: 2vw;
    }
    .phone  {
        position: absolute;
        bottom: 20%;
        right: 3%; 
        font-size: 2vw;
    }
    body{
    font-family: Georgia, "Times New Roman", Times, serif;
        }

    .city{
            background-attachment: fixed;
           background-size: 100% 100%;
            background-position: center center;
            background-repeat: no-repeat;
             position: absolute;
            bottom: 0px;
             z-index: -5;
            height: 100%;
            width:100%
            }
    
    .sky{ background-image: url(./images/brewHeader.jpg);
            background-attachment: fixed;
            background-size: cover;
           background-position: center center;
            background-repeat: no-repeat;
             position: absolute;
            top: -10;
            z-index: -9;
            height: 100vh;
            width:100vw
            }
  
    
    
   